# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
ENV/
.venv/
.python/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
.cache/
.next/
out/
coverage/

# PyInstaller
#  PyInstaller specific files
*.manifest
*.spec
*.conf

# Logs and temporary files
logs/
*.log
TODO.md
deployment.md
tests.v1.md
tests.v2.cl.md
fastapi.server.md
temp/
nuitka-build
.env
/.env
./.env
env
.env.test
.env.*.local
deployment/output

# Configuration files
config.yaml

# Data and subfolders
data/
*.sqlite

# IDE/editor folders
.vscode/
.idea/
*.sw?
*.swo
*.swn

# Node modules
node_modules/
**/node_modules/
datakeeper/datakeeper/api/node_modules/
jspm_packages/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
.coverage
coverage.xml
*.cover

# MyPy
.mypy_cache/

# Pytest
.cache/
.npm

# Sphinx documentation
docs/_build/
build/

# Python wheel
*.whl

# PDM (Python Development Master)
.pdm/

# Poetry
.poetry/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Miscellaneous
*.tgz
*.zip
*.bak
*.orig
.DS_Store
Thumbs.db
datakeeper/data_saver.py
datakeeper/hdf5_test.py
datakeeper/sample_hdf5_data
datakeeper/config/policy_full.yaml
main_test.py
