<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datakeeper</title>
    <!--  js -->
    <script src="../static/htmx.min.2.0.4.js"></script>
    <script src="../static/sse2.2.2.js"></script>
    <script src="../static/alpine.min.js"></script>
    {% block extra_pre_js %}{% endblock %}
    <!--  css -->
    <link rel="stylesheet" href="../static/output.css">
    <link rel="stylesheet" href="../static/base.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="/" class="logo">Viz</a>
            <ul class="nav-menu">
                <li><a href="/"></a></li>
            </ul>
        </div>
    </nav>
    
    <main>
        <div class="content-container">
            {% block content %}{% endblock %}
        </div>
    </main>

    {% block extra_post_js %}{% endblock %}
    <!-- Global state -->
    <script>
        document.addEventListener('alpine:init', () => {
          Alpine.store('darkMode', {
            on: false,
            toggle() {
              this.on = !this.on
            }
          });
        });
    </script>
</body>
</html>

