{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="../static/index.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<style>
    /* Map container - SOLUTION 1: Using flex-grow */
    #map {
        flex: 1;
        width: 100%;
        min-height: 400px; /* Minimum height for usability */
        background-color: #e8f4f8;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        color: #2c3e50;
        border-radius: 4px;
    }
</style>
{% endblock %}

{% block content %}
    <div id="map"></div>
{% endblock %}

{% block extra_post_js %}
<script>
    const map = L.map('map').setView([59.612, 17.387], 6);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18
    }).addTo(map);

    const markers = {};

    const eventSource = new EventSource("/events");
    eventSource.onmessage = function (event) {
        const vessels = JSON.parse(event.data);
        console.log("Event...")
        console.log(vessels)
        vessels.forEach(v => {
            const key = v.id;
            const latlng = [v.lat, v.lon];
            const popup = `
                <b>${v.name}</b><br>
                Type: ${v.type}<br>
                Speed: ${v.speed} knots<br>
                Heading: ${v.heading}°
            `;

            if (markers[key]) {
                markers[key].setLatLng(latlng).setPopupContent(popup);
            } else {
                markers[key] = L.marker(latlng).addTo(map).bindPopup(popup);
            }
        });
    };
</script>
{% endblock %}